@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 33% 99%;
    --foreground: 229 26% 28%;
    --muted: 240 12% 90%;
    --muted-foreground: 240 12% 30%;
    --popover: 240 33% 96%;
    --popover-foreground: 229 26% 18%;
    --card: 240 33% 97%;
    --card-foreground: 229 26% 23%;
    --border: 240 23% 94%;
    --input: 240 23% 91%;
    --primary: 223 42% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 240 33% 84%;
    --accent-foreground: 240 33% 24%;
    --destructive: 10 88% 24%;
    --destructive-foreground: 10 88% 84%;
    --ring: 223 42% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 235 19% 13%;
      --foreground: 229 35% 75%;
      --muted: 235 12% 17%;
      --muted-foreground: 235 12% 67%;
      --popover: 235 19% 10%;
      --popover-foreground: 229 35% 85%;
      --card: 235 19% 11%;
      --card-foreground: 229 35% 80%;
      --border: 235 9% 18%;
      --input: 235 9% 21%;
      --primary: 223 45% 44%;
      --primary-foreground: 0 0% 100%;
      --secondary: 223 30% 75%;
      --secondary-foreground: 223 30% 15%;
      --accent: 235 19% 28%;
      --accent-foreground: 235 19% 88%;
      --destructive: 9 82% 45%;
      --destructive-foreground: 0 0% 100%;
      --ring: 223 45% 44%;
  }
}


*{
  box-sizing: border-box;
}



#root, html,body {
  height:100%;
  @apply bg-background text-foreground;
}




ul.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: disc;
  margin-left: 20px;
}

p{
  @apply text-foreground ;
}

li strong{
  @apply text-foreground;
}